.form-reg {
    width: 900px;
    background: #3b4652;
    padding: 80px;
    margin: auto;
    margin-top: 50px;
    border-radius: 4px;
    font-family: 'calibri';
    color: white;
    opacity: .95;
}
body{
    background: url(/static/images/Material-Backgrounds-02-1920-x-1080.png) no-repeat center center fixed;
    background-size: cover;

}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box ;
}
h5{
    border-bottom: 2px solid rgb(0, 0, 0);
}
p{
    background-color: #C0C0C0;
    color: black;
}
button{
    margin-left: 600px;  
}
