<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!--Para que se reflejen rapido los cambios-->
    <meta http-equiv="Expires" content="0">
    <meta http-equiv="Last-Modified" content="0">
    <meta http-equiv="Cache-Control" content="no-cache, mustrevalidate">
    <meta http-equiv="Pragma" content="no-cache">

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css"
        integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
        integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ho+j7jyWK8fNQe+A12Hb8AhRq26LrZ/JpcUGGOn+Y7RsweNrtN/tE3MoK7ZeZDyx"
        crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
        integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"
        integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.min.js"
        integrity="sha384-w1Q4orYjBQndcko6MimVbzY0tgp4pWB4lZ7lr30WKz0vr/aWKhXdBNmNb5D92v7s"
        crossorigin="anonymous"></script>
    <!--Link de CSS-->
    <link rel="stylesheet" type="text/css" href="static\css\DatosTrabajador.css?1.0" media="all">

    <title>DatosTrabajador</title>
</head>

<body>
    <section class="form-reg">
        <section class="Group-cuestions">
            <div class="cuestion1">
                <h5><b>Datos Laborales:</b></h5>
                <div class="cuestion1">
                    <p>Ocupacion/Profesión/Puesto:</p>
                    <input type="text" class="form-control-sm" size="117">
                </div>
                <div class="cuestion2">
                    <p>Departamento/Sección/Área:</p>
                    <input type="text" class="form-control-sm" size="117">
                </div>
                <div class="cuestion3">
                    <p>Tipo de puesto:</p>
                    <div>
                        <div class="form-check-inline">
                            <label class="form-check-label">
                                <input type="checkbox" class="form-check-input" value="">Operativo
                            </label>
                        </div>
                        <div class="form-check-inline">
                            <label class="form-check-label">
                                <input type="checkbox" class="form-check-input" value="">Supervisión
                            </label>
                        </div>
                    </div>
                    <div>
                        <div class="form-check-inline">
                            <label class="form-check-label">
                                <input type="checkbox" class="form-check-input" value="">Profesional o Técnico
                            </label>
                        </div>
                        <div class="form-check-inline">
                            <label class="form-check-label">
                                <input type="checkbox" class="form-check-input" value="">Gerente
                            </label>
                        </div>
                    </div>
                    <div class="cuestion4">
                        <p>Tipo de contratación:</p>
                        <div>
                            <div class="form-check-inline">
                                <label class="form-check-label">
                                    <input type="checkbox" class="form-check-input" value="">Por obra o proyecto
                                </label>
                            </div>
                            <div class="form-check-inline">
                                <label class="form-check-label">
                                    <input type="checkbox" class="form-check-input" value="">Tiempo indeterminado
                                </label>
                            </div>
                        </div>
                        <div>
                        <div class="form-check-inline">
                            <label class="form-check-label">
                                <input type="checkbox" class="form-check-input" value="">Tiempo determinado (temporal)
                            </label>
                        </div>
                        <div class="form-check-inline">
                            <label class="form-check-label">
                                <input type="checkbox" class="form-check-input" value="">Honorarios
                            </label>
                        </div>
                    </div>
                    <div class="cuestion5">
                        <p>Tipo de personal:</p>
                        <div>
                            <div class="form-check-inline">
                                <label class="form-check-label">
                                    <input type="checkbox" class="form-check-input" value="">Sindicalizado
                                </label>
                            </div>
                            <div class="form-check-inline">
                                <label class="form-check-label">
                                    <input type="checkbox" class="form-check-input" value="">Confianza
                                </label>
                            </div>
                        </div>
                        <div>
                            <div class="form-check-inline">
                                <label class="form-check-label">
                                    <input type="checkbox" class="form-check-input" value="">Ninguno
                                </label>
                            </div>                            
                        </div>
                    </div>
                    <div class="cuestion5">
                        <p>Tipo de jornada de trabajo:</p>
                        <div>
                            <div class="form-check-inline">
                                <label class="form-check-label">
                                    <input type="checkbox" class="form-check-input" value="">Fijo nocturno (entre las 20:00 y 6:00 hrs)
                                </label>
                            </div>
                            <div class="form-check-inline">
                                <label class="form-check-label">
                                    <input type="checkbox" class="form-check-input" value="">Fijo diurno (entre las 6:00 y 20:00 hrs
                                </label>
                            </div>
                        </div>
                        <div>
                            <div class="form-check-inline">
                                <label class="form-check-label">
                                    <input type="checkbox" class="form-check-input" value="">Fijo mixto (combinación de nocturno y diurno)
                                </label>
                            </div>                            
                        </div>
                    </div>
                    <div class="cuestion6">
                        <p>Realiza rotacion de turnos:</p>
                        <div>
                            <div class="form-check-inline">
                                <label class="form-check-label">
                                    <input type="checkbox" class="form-check-input" value="">Si
                                </label>
                            </div>
                            <div class="form-check-inline">
                                <label class="form-check-label">
                                    <input type="checkbox" class="form-check-input" value="">No
                                </label>
                            </div>
                        </div>
                    </div>
                    <div class="cuestion7">
                        <p><b>Experiencia (años):</b> 
                            <br>
                        Tiempo en el puesto actual:</p>
                        <div class="opcion1">
                            <div class="form-check-inline">
                                <label class="form-check-label">
                                    <input type="checkbox" class="form-check-input" value="">Menos de 6 meses
                                </label>
                            </div>
                            <div class="form-check-inline">
                                <label class="form-check-label">
                                    <input type="checkbox" class="form-check-input" value="">Entre 10 a 14 años
                                </label>
                            </div>
                        </div>
                        <div class="opcion2">
                            <div class="form-check-inline">
                                <label class="form-check-label">
                                    <input type="checkbox" class="form-check-input" value="">Entre 6 meses y 1 año
                                </label>
                            </div>
                            <div class="form-check-inline">
                                <label class="form-check-label">
                                    <input type="checkbox" class="form-check-input" value="">Entre 15 a 19 años
                                </label>
                            </div>
                        </div>
                        <div class="opcion3">
                            <div class="form-check-inline">
                                <label class="form-check-label">
                                    <input type="checkbox" class="form-check-input" value="">Entre 1 a 4 años
                                </label>
                            </div>
                            <div class="form-check-inline">
                                <label class="form-check-label">
                                    <input type="checkbox" class="form-check-input" value="">Entre 20 a 24 años
                                </label>
                            </div>
                        </div>
                        <div class="opcion4">
                            <div class="form-check-inline">
                                <label class="form-check-label">
                                    <input type="checkbox" class="form-check-input" value="">Entre 5 a 9 años
                                </label>
                            </div>
                            <div class="form-check-inline">
                                <label class="form-check-label">
                                    <input type="checkbox" class="form-check-input" value="">25 años o más
                                </label>
                            </div>
                        </div>
                    </div>
                    <div class="cuestion7">
                        <p>Tiempo experiencia laboral:</p>
                        <div class="opcion1">
                            <div class="form-check-inline">
                                <label class="form-check-label">
                                    <input type="checkbox" class="form-check-input" value="">Menos de 6 meses
                                </label>
                            </div>
                            <div class="form-check-inline">
                                <label class="form-check-label">
                                    <input type="checkbox" class="form-check-input" value="">Entre 10 a 14 años
                                </label>
                            </div>
                        </div>
                        <div class="opcion2">
                            <div class="form-check-inline">
                                <label class="form-check-label">
                                    <input type="checkbox" class="form-check-input" value="">Entre 6 meses y 1 año
                                </label>
                            </div>
                            <div class="form-check-inline">
                                <label class="form-check-label">
                                    <input type="checkbox" class="form-check-input" value="">Entre 15 a 19 años
                                </label>
                            </div>
                        </div>
                        <div class="opcion3">
                            <div class="form-check-inline">
                                <label class="form-check-label">
                                    <input type="checkbox" class="form-check-input" value="">Entre 1 a 4 años
                                </label>
                            </div>
                            <div class="form-check-inline">
                                <label class="form-check-label">
                                    <input type="checkbox" class="form-check-input" value="">Entre 20 a 24 años
                                </label>
                            </div>
                        </div>
                        <div class="opcion4">
                            <div class="form-check-inline">
                                <label class="form-check-label">
                                    <input type="checkbox" class="form-check-input" value="">Entre 5 a 9 años
                                </label>
                            </div>
                            <div class="form-check-inline">
                                <label class="form-check-label">
                                    <input type="checkbox" class="form-check-input" value="">25 años o más
                                </label>
                            </div>
                        </div>
                    </div>
        </section>
        <a href="http://localhost:8000/Principal">
            <button type="button" class="btn btn-primary"><i class="fas fa-sign-in-alt"></i>Finalizar</button>
        </a>
    </section>
</body>

</html>